@model dynamic

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" type="text/css" href="../../Content/BookerrCSS/about_us.css?v2">
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
	<div>
		<section>
			<img src="../../Content/WebAssets/teamphoto.png" alt="Team Image" style="width: 100%;">

			<div class="about-us-section">
				<div class="about-us-text">
					<p style="font-size:50px;"><strong>About us</strong></p>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismodtincidunt
						laoreet dolore magna
						aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
						suscipit
						lobortis nisl ut
						aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
						esse molestie
						consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
						dignissim qui blandit
						praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
					<p>Team Members:</p>
					<ul>
						<li style="font-weight: Bold;">2000005184 | Mahmut Özer Gözükırmızı</li>
						<li>2000004002 | Ege Kıran</li>
						<li>2000004825 | Yasin Karabulut</li>
						<li>2000003255 | Şeymanur Karaçalı</li>
						<li>2000003443 | Ebrar Yiğit</li>
					</ul>
				</div>

				<div class="services-section">
					<div class="service-item">
						<img src="../../Content/WebAssets/BestPriceIcon.svg" alt="Best Prices Image">
						<p><strong>We are providing best prices!</strong></p>
					</div>

					<div class="service-item">
						<img src="../../Content/WebAssets/WwShippingIcon.svg" alt="Worldwide Shipping Image">
						<p><strong>We provide worldwide shipping!</strong></p>
					</div>

					<div class="service-item">
						<img src="../../Content/WebAssets/CustomerSupIcon.svg" alt="Customer Services Image">
						<p><strong>We provide customer services!</strong></p>
					</div>

					<div class="service-item">
						<img src="../../Content/WebAssets/HappyCusIcon.svg" alt="Happy Customers Image">
						<p><strong>WE PROVIDE HAPPY CUSTOMERS!</strong></p>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>