
div.profile_section > div.user_information > div.address > div.my_address {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-direction: row;
    gap: 10px;
    padding: 5px;

}

div.profile_section > div.user_information > div.address > div.my_address > div.home,
div.profile_section > div.user_information > div.address > div.my_address > div.office {
    width: 45%;
    height: 50%;
    padding: 20px;
    border-radius: 10px;
    background-color: #E6E7E8;
}

div.profile_section > div.user_information > div.address > div.my_address > div.addition {
    width: 12%;
    padding: 31px;
    border-radius: 10px;
    background-color: #E6E7E8;
    cursor: pointer; 
}






div.profile_section > div.user_information > div.address > div.my_address > div.addition > a {
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    color: #F47878; /* Rengi pembe olacak */
    font-size: 30; /* Boyutu biraz büyüdü */
}

div.profile_section > div.user_information > div.address-header  {
    width: auto;
    height: auto;
    font-size: 23px;
    margin-left: -63%;
    margin-top:33%;
}

div.profile_section > div.user_information > div.address > div.add-address {
    width: auto;
    height: auto;
    font-size: 23px;
 
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: #E6E7E8;
    color: #000000;
}


div.profile_section > div.user_information > div.address > div.address-bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

div.profile_section > div.user_information > div.address > div.address-bars > div.city-bar,
div.profile_section > div.user_information > div.address > div.address-bars > div.zipcode-bar {
    width: 48%;
}

div.profile_section > div.user_information > div.address > div.address-bars > div.city-bar select,
div.profile_section > div.user_information > div.address > div.address-bars > div.zipcode-bar input {
    width: 100%;
    height: 35px;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 1%;
}

div.profile_section > div.user_information > div.address > div.address-bars > div.city-bar label,
div.profile_section > div.user_information > div.address > div.address-bars > div.zipcode-bar label {
    margin-bottom: 5px;
}

div.profile_section > div.user_information > div.address > button.save-button {
    width: 28%;
    height: 35px;
    font-size: 13px;
    font-weight: 700;
    background-color: #F47878;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left:72%;
    margin-top: 1%;
}

div.profile_section > div.user_information > div.address > button.save-button:hover {
    background-color: #808285;
    color: white; /* Rengi pembe olacak */

}

div.profile_section{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}




