
 div.address > div.my_address {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-direction: row;
    gap: 10px;
    padding: 5px;

}

 div.address > div.my_address > div.addressInfo
 {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #E6E7E8;
}

 div.address > div.my_address > div.addition {
    width: 12%;
    padding: 31px;
    border-radius: 10px;
    background-color: #E6E7E8;
    cursor: pointer; 
}
 
 div.address > div.my_address > div.addition > a {
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    color: #F47878; /* Rengi pembe olacak */
    font-size: 30px; /* Boyutu biraz büyüdü */
}

 div.address-header  {
    max-width: 25%;
    font-size: 23px;

}

 div.address > div.add-address  > h2{
    width: auto;
    height: auto;
    font-size: 23px;
 
}

.add-address input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: #E6E7E8;
    color: #000000;
}


 div.address > div.address-bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

 div.add-address > div.address-bars > div.city-bar,
 div.add-address > div.address-bars > div.zipcode-bar {
    width: 48%;
}
 div.add-address > div.address-bars > div.zipcode-bar
 {
     position: relative;
     left: 1.5%;
 }
 div.add-address > div.address-bars > div.city-bar select,
 div.add-address > div.address-bars > div.zipcode-bar input {
    width: 95%;
    height: 35px;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 1%;
}

 div.add-address > div.address-bars > div.city-bar label,
 div.add-address > div.address-bars > div.zipcode-bar label {
    margin-bottom: 5px;
}

 div.add-address > button.save-button {
     width: 25%;
     height: 8%;
     font-size: 13px;
     font-weight: 700;
     background-color: #F47878;
     color: white;
     border: none;
     border-radius: 50px;
     cursor: pointer;
     position: inherit;
     left: 70%;
}

 div.add-address > button.save-button:hover {
    background-color: #808285;
    color: white; /* Rengi pembe olacak */

}



 .address
 {
     display: flex;
     flex-direction: column;
     position: relative;
     left: 3%;
     margin-top: 10%;
 }

 .mainContent
 {
     display: inline-block;
     position: relative;
     left: 15%;
     width: 990px;
     overflow: hidden;
     height: 550px;
 }
 .address-bars
 {
     display: flex;
 }