.mainContent
{
    display:flex;
    position: relative;
    left: 15%;
    width: 990px;
    overflow: hidden;
    height: fit-content;
}
body > div > form >input {
    width: 95%;
    height: fit-content;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 1%;
    border-radius: 8px;
    border:none ;
    background-color: #E6E7E8;

}
