.mainContent
{
    display:flex;
    position: relative;
    left: 15%;
    width: 990px;
    overflow: hidden;
    height: fit-content;
}
body > div > form >input {
    width: 95%;
    height: fit-content;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 1%;
    border-radius: 8px;
    border:none ;
    background-color: #E6E7E8;

}

body > div > form > button
{
    width: 20%;
    height: 20px;
    font-size: 13px;
    font-weight: 700;
    background-color: #F47878;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}