@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


body {
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;

}
footer {
	background-color: #808285;
	color: #828285;
	text-align: center;
	padding: 1em 0;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	position: relative;
	width: 80%;
	height: 20%;
}

.row {
	position: relative;

	height: 50%;
	top: 2%;
	display: flex;
	flex-wrap: wrap;
	margin-left: 7%;
}

.row ul {

	display: block;
	position: relative;
	list-style: none;
}

.footer {

	background-color: #E6E7E8;
	padding: 2% 0;
	margin-top: 5%;
	text-align: center;

}

.footer-col {
	height: 25%;
	width: 16%;
	padding: 0 15px;
}

.footer-col h4 {
	margin-bottom: 5%;
	font-size: 12px;
	/*başlıkların yazı boyutu*/
	color: #808285;
	text-transform: capitalize;
	/* margin-bottom: 20px; eğer kategori başlığından sonra boşluk olmasını istersek kullanabiliriz.*/
	font-weight: 800;
	position: relative;
	display: block;
	transition: all 0.3s ease;
}

.footer-col h4 {
	color: #828285;
}

.footer-col h4 a {
	text-decoration: none;

}

.footer-col h4:hover {
	color: #ffffff;
	padding-left: 8px;
}


.footer-col ul li a {
	font-size: 12px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	color: #808285;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #F47878;
	padding-left: 8px;
}




.social-links a i {
	height: 30%;
	width: 15%;
	border-radius: 50%;
	background-color: #808285;
	text-align: center;
	color: #E6E7E8;
	transition: all 0.3s ease;
	position: relative;
	top: 2%;

}


.social-links {
	height: 50%;
}

.followUs .social-links a i:hover {
	background-color: #F47878;

}



.followUs {
	position: relative;
	top: 100%;
	height: 100%;
	width: 15%;
	margin-top: 15%;
}

/*
.additional-links {
  margin-bottom: 12px;
}
*/

.additional-links.about-contact {
	margin-top: -100px;
	margin-right: -120px;
	text-align: right;
	margin-left: auto;
	color: #E6E7E8;

	text-decoration: underline;
}

.additional-links.faq-help {
	margin-top: 12px;
	margin-right: -120px;
	text-align: right;
	margin-left: auto;
	color: #E6E7E8;

}

.additional-links a {
	text-decoration: none;
	font-size: 12px;
	font-weight: 500;

}

.additional-links a:hover {
	color: #F47878;
}





.footerBottom {
	display: flex;
	position: relative;
	left: 17%;
	bottom: 20%;
	width: 100%;
	height: 9%;
	text-align: left;
	color: #808285;
	font-size: 12px;
}

.abovefooter {
	position: relative;
	left: 17%;
	bottom: 20%;
	width: 10%;
	text-align: left;
	color: #808285;
	font-size: 30px;
}

.abovefooter img {
	
	padding-bottom: 1%;
}

.visa-image {
	max-width: 10%;
	max-height: 60%;
	position: relative;
	left: 17%;
	bottom: 35%;
}

.footerBottom p {
	max-width: fit-content;
	position: relative;
	bottom: 1%;
}