.product-container
{
	display: flex;
}

.product-carousel-inner {
	display:flex;
    padding-left: 2%;
    padding-right: 2%;
    height: 70%;
    transition: transform 0.5s ease-in-out;
	z-index:1;

}
.popup-container {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productCarousel {
    margin-top: 3%;
    width: 30%;
    height: 80%;
    margin-left: 15%;
    overflow: hidden;
    position: relative;
}

.carousel-next-btn {
    position: absolute;
    top: 40%;
    right: 8%;

    transform: translateY(-50%);
    transform: translatex(50%);

}

.carousel-prev-btn {
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);
    transform: translatex(-50%);

}


.carousel-prev-btn,
.carousel-next-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

 .product-carousel-item {
    box-sizing: border-box;
    object-fit: cover;
    height: 100%;
    width: 75%;
    margin-right: 5%;
}

 .product-carousel-item img {
    width: 100%;
	height:100%;
	margin-left:55px;
	border-radius:15px;
	border:1px solid #808285;
}
.card-title {
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
}

.card-text {
    padding: auto;
    color: #000000;
    text-decoration: none;
}

.card-img-top {
    height: 25%;
    max-width: 75%;
    display: block;
    margin: 0 auto;
}

.carosel-product-info {
    height: 40%;
    max-height: 10%;
}

.add-to-cart-image {
    display: block;
    max-width: 55%;
    max-height: 100%;
    margin-left: auto;
    margin-right: 4.75%;
    margin-top: -2%;

}

.info-image {
    font-family: Montserrat;
    color: #808285;
    display: flex;
    font-size: 20px;

}
.carosel-product-info-text {
    color: #000000;
    font-size: larger;
    width: 40%;
    height: 50%;
    max-height: 80%;
    margin-top: -14%;
}

.small-image-container {
	 padding-left:2%;
    width: 100%;
	height:30%;
	}

  .small-image {
    display: inline-block;
    width: 30%;
    height: 30%;
	float:left;
	margin-right:3.1%;
  }

  .small-image img {
    width: 100%;
    height: auto;
  }

.thumbnail-container {
    display: flex;
	z-index:2;
    margin-top: 1%;
    text-align: center;
	height: 10%;
	width: 300px;
    margin-left: 76px;
}

.thumbnail {
	position:relative;
    width: 15%;
    height: 100%;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;
}

.thumbnail.active {
    opacity: 1;
}

.books-info{
	height:90%;
	width:30%;
}

.info{
	margin-top:35px;
}

.info p{
	font-size:20px;
	margin-top:-8px;
}

.stars{
	display:flex;
}

.ort{
	font-weight:bold;
	margin-right:5px;
}

.ratings{
    margin-right:10px;
}

.ratings i{
    color:#cecece;
    font-size:15px;
}

.rating-color{
    color:#fbc634 !important;
}

.review-count{
    margin-bottom:2px;
    font-size:16px !important;
	float:right;
}

.small-ratings i{
  color:#cecece;   
}

.review-stat{
    font-size:18px;
    margin-bottom:2px;
}

.details{
	margin-top:20px;
}

.details h6{
    font-size:16px !important;
	margin-bottom:-5px;
	}

.details p{
	margin-bottom:5px;
}

.price{
	color:#F47878;
	float:right;
	margin-right:100px;
	margin-top:-40px;
}

.add-to-cart{
	width:200px;
	height:70px;
	margin-top:42px;
	}
	
.add-to-cart img{
	width:235px;
	height:70px;
	}

.user-reviews{
	margin-left:247px;
	margin-right:247px;
	height:auto;
}

.comment-box{
	height:fit-content;
	width:1000px;
}

.box h3{
	margin-left:20px;
	margin-top:10px;
	font-size:14px;
	width:150px;
}

.box p{
	margin-left:15px;
	margin-top:2px;
}

.box {
    border-radius: 15px;
    border: 1px solid #E6E7E8;
    width: 900px;
    height: 100px;
    background-color: #E6E7E8;
    display: inline-block;
    margin: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
	
}

.box:hover {
    border-radius: 15px;
    border: 1px solid #E6E7E8;
    width: 900px; 
    height: auto;
	min-height:100px;
    background-color: #E6E7E8;
    display: inline-block;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	cursor:pointer;
}


.box:not(:hover) {
    width: 900px !important;
    height: 100px !important;
    margin: 5px !important;
    box-shadow: none !important;
}

.box i{
    margin-top: -10px;
    float:right;
    margin-right:15px;
    margin-left:-12px;
}
