


.profile-nav-menu nav a:hover {

    color: #F47878; /* Hover durumunda metin rengi */
}
.password-error {
    color: red;
    font-size: 14px;
}

.image-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 47%;
    margin-top: 2%;
    
}

.image-button:hover {
    opacity: 0.7; /* Butonun üzerine gelindiğinde opaklığını düşürme örneği */
}

.partial input,.password-input input{
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: #E6E7E8;
    color: #000000;
}
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: #E6E7E8;
    color: #000000;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: #E6E7E8;
    color: #000000;
}


/* new Code*/
div.profile_section{

 }

div.profile_section > div{
    width: auto;
    height: 400px;
    /* border: 2px solid red; */
}

div.profile_section > div > div.profile_sections{
    width: 240px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #E6E7E8;
    border-radius: 12px;
    overflow: hidden;
}

div.profile_section > div.link_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.profile_section > div.link_holder > h2{
    font-size: 52px;
    width: 240px;
    text-align: left;
	margin-bottom:10px;
}

div.profile_section > div > div.profile_sections > a{
    width: 100%;
    height: auto;
    color: black;
    font-weight: 500;
    font-family: Montserrat ;
    margin-top: 1%;

}

div.profile_section > div > div.profile_sections > a > button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    border: 0;
	margin-bottom: -2px;
}

div.profile_section > div > div.profile_sections > a:hover > button{
	color: #F47878; /* Hover durumunda metin rengi */
	font-weight: 600;
	
}


div.user_information{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    position: relative;
    left: 5%;
}

div.user_information > h2{
    position: relative;
    width: 500px;
    text-align: left;
	font-size:35px;
    right: 6%;

}

 div.user_information > form{
    width: 600px; /*name surname bar boyutları*/
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

div.user_information > form > div.partial{
    width: 100%;
}


div.user_information > form > div.partial{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
}

 div.user_information > form > div.partial >  div.birth_date{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
	

}

div.user_information > form > div.partial >  div.birth_date > select{
    width: 70px;
    height: 32px;
    background-color: #E6E7E8;
}

div.user_information > form > div.partial > div.gender{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 200px;
	color:#000000;
	font-weight:700;
	margin-left:61px;

}

div.user_information > form > div.partial > div.gender > input{
    margin-bottom: 4px;

}

 div.user_information > form > button.save-button {
    width: 33%;
    height: 35px;
    font-size: 13px;
	font-weight:700;
    background-color: #F47878;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
	margin-left:400px;
}

 div.user_information > form > button.save-button:hover {
    background-color: #808285;
}



div.password-change-form > h2{
    width: 500px;
    text-align: center;
    font-size: 35px;
    position: absolute;
    left: -11%;
    top: -30%;

}

.password-change-form {
    text-align: center;
}



.password-input {
    display: block; /* Alt alta sıralanması için display: block */
    max-width: 60%; 
    padding-bottom: 3%;
}

.password-change-form > input {
    width: 100%; /* Parent genişliğinde olacak */
    box-sizing: border-box; /* padding ve border'ları genişliğe dahil etmek için */
    height: 30px;
    padding-right: 30px;
}

.password-toggle {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

div.password-change-form > button.reset-button {
    width: 25%;
    position: relative;
    left: -9%;
    height: 35px;
    font-size: 13px;
	font-weight:700;
    background-color: #F47878;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
	margin-top:12px;
}

div.password-change-form > button.reset-button:hover {
    
    background-color: #808285;
}
.popup-container {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkmark {
    width: 80px;
    height: 80px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.close-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.profileContent
{
    width: 100%;
    display: inline-flex;
    position: relative;
}
.passwordContainer
{
    width: 600px;
    position: relative;
    left: 32%;
    top: 10%;
    
}

input, select, textarea {
    max-width: 100%;
}
body > div > div.profileContent > div.user_information > form > div:nth-child(1) > input[type=text]
{
    max-width: 50%;
}
.mainContent
{
    display: inline-block;
    position: relative;
    left: 15%;
    width: 990px;
    overflow: hidden;
}
h2
{
    font-weight: 700;
}